<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar class="bar-positive headerContainer">
        <div class="row">
            <div class="col-25">
                <a ng-click="backToHome()">Back</a>
            </div>
            <div class="col-50 text-center headerTitle">
                About
            </div>
            <div class="col-25">
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="aboutContainer">
        <div class="aboutIconContainer text-center">
            <img src="img/Rockfishin_Pin.svg" class="aboutIcon" />
        </div>
        <p>Surf Life Saving Sydney is the administrative arm of Surf Life Saving for the fifteen Surf Life Saving Clubs stretching
            from North Bondi south to Burning Palms in the Royal National Park.</p>
        <br/>
        <p>The role of SLS Sydney is to coordinate Lifesaving activities including; club based patrols and support services
            such as Off-Shore rescue boats, Rescue Water Craft (jet ski), Duty Officers and Member Support officers; Surf
            Sports activities are coordinated by SLS Sydney through competition and coaching events, and representative teams.</p>
        <br/>
        <p>
            Our team of trainers, assessors and facilitators provide our surf lifesavers with an extensive and integrated award structure;
            Our Junior Activities (nipper) programs cater for 7,600 junior members, who range in age from 5 to 13 years and
            is a stepping stone for many of our surf lifesavers and champion competitors of the future.</p>
        <br/>
        <p>
            Surf Life Saving in Sydney is a vibrant volunteer community and emergency service organisation, with 16,557 volunteer lifesavers
            providing the Sydney community with a world class water safety service.</p>
        <br/>
        <p>
            Our record of never having recorded a drowning between the flags whilst on patrol since its establishment in the early 1900’s
            is a source of pride for our members.</p>
        <br/>
        <br/>
        <br/>
    </ion-content>
</ion-view>