<ion-view hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="bar-positive headerContainer">
		<div class="row">
			<div class="col-25">
				<a ng-click="backToPrevious()">Back</a>
			</div>
			<div class="col-50 text-center headerTitle">
				Sign Up
			</div>
			<div class="col-25">
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="wizardContentContainer">
		<p class="contentInstructionFont signUpMargin text-center">Please enter your details to create your profile.</p>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Full Name" class="formText" ng-model="user.name">
				<i class="icon ion-ios-contact placeholder-icon"></i>
			</label>
			<label class="item item-input">
				<input type="tel" placeholder="Mobile (e.g. 0477436824)" class="formText" ng-model="user.mobileNumber">
				<i class="icon ion-ios-telephone placeholder-icon"></i>
			</label>
		</div>
	</ion-content>
	<ion-footer-bar class="wizardFooterContainer">
		<button class="btnSubMenu" ng-click="goToDuration()">Next</button>
	</ion-footer-bar>
</ion-view>