<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar class="bar-positive headerContainer">
        <div class="row">
            <div class="col-25">
                <a ng-click="backToPrevious()">Back</a>
            </div>
            <div class="col-50 text-center headerTitle">
                Terms and Conditions
            </div>
            <div class="col-25">
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="termContainer">
        <p>TERMS AND CONDITIONS</p>
        <br/>
        <p>DISCLAIMER</p>
        <br/>
        <p>This Mobile Application has been developed by Surf Life Saving Sydney (SLSS) to provide information and guidance
            to Rock Fisherman. It gathers information from some sources which SLSS is unable to verify. Accordingly, no responsibility
            is accepted by SLSS for the accuracy, completeness or relevance to the user’s purpose of the material and any
            user of it should take appropriate steps to verify it. Use is at the user’s risk entirely and SLSS hereby expressly
            disclaims, to the fullest extent permitted by law, all warrantees express or implied of any kind whatsoever in
            relation to the material including but not limited to warrantees as to fitness for purpose and title.</p>
        <br/>
        <p>SLSS also expressly disclaims responsibility for failure of or shortcomings in the performance of the Application.
            or for any consequence of such failure or shortcoming. No warranty is given that the material or the software
            generating it are free from infection by computer viruses or other contamination and no responsibility is accepted
            for the consequences of the transmission of any virus or infection through use of the Application.
        </p>
        <br/>
        <p>Any links to other information sources included in this Application are provided for the user’s convenience only
            and SLSS does not accept any responsibility for the accuracy, completeness or suitability for purpose of any
            material obtained from such sources.</p>
        <br/>
        <p>SLSS , its officers, employees and agents disclaim all liability, however arising, including liability for negligence,
            for any loss or damage resulting from the use of or reliance upon the material or otherwise from use of or reliance
            upon the Application.
        </p>
        <br/>
        <p>USER AGREEMENT</p>
        <br/>
        <p>1. By logging on to this Application, you acknowledge and agree you have read and understand the above Disclaimer
            and that your use of the Application. will be subject to them and to the terms of this agreement.</p>
        <br/>
        <p>2. You are responsible for any user content posted by you and warrant that any user content entered by you into any
            IT system or posted by you on the SLSS website.</p>
        <br/>
        <p>
            a. is true and correct</p>
        <p>b. is not misleading, deceptive, defamatory or obscene</p>
        <p>c. does not infringe a third party’s intellectual property rights</p>
        <p>d. can be lawfully published by SLSS</p>
        <br/>
        <p>3. SLSS will monitor use of this Application. and of all its other IT systems in order to better protect the integrity
            of the data contained in the systems.</p>
        <br/>
        <br/>
        <br/>
    </ion-content>
    <ion-footer-bar class="wizardFooterContainer">
        <button class="btnSubMenu" ng-click="signUp()">Accept</button>
    </ion-footer-bar>
</ion-view>