<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar class="bar-positive headerContainer">
        <div class="row">
            <div class="col-25">
                <a ng-click="backToHome()">Back</a>
            </div>
            <div class="col-50 text-center headerTitle">
                Rock Fishing Safety
            </div>
            <div class="col-25">
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="aboutContainer">
        <p class="boldTitle">Follow these basic safety tips at all times:</p>
        <ul style="list-style-type:disc">
            <li>Care for your own safety and never take undue risks when fishing: even when fighting fish or trying to retrieve
                tackle. Never enter the water to retrieve lost tackle or snagged fish. If the location looks dangerous, don't
                fish there.</li>
            <li>Wear a lifejacket or buoyancy vest: when boat fishing or when fishing in hazardous locations such as rock platforms
                or those located near areas of fast moving water always wear a lifejacket. It may also be appropriate to
                wear non-slip shoes.</li>
            <li>If someone falls into the water: do not jump in after them instead look for an angel ring, life buoy or something
                that floats and throw it to the person in the water. Alert emergency services by dialling 112 from a mobile
                phone or 000 from a landline.</li>
            <li>Observe first, fish later: always check weather and water conditions before you start fishing.</li>
            <li>Inform others of your fishing plans: always let friends or family know where you are going and when you will
                be back.</li>
        </ul>
        <br/>
        <p class="boldTitle">Rock Fishing Safety</p>
        <p>Rock fishing can be particularly dangerous due to the unpredictable nature of the ocean. Follow these safety tips
            at all times when rock fishing or when fishing in hazardous areas:</p>
        <ul style="list-style-type:disc">
            <li>Never fish by yourself: fish in a group of at least three people and within sight of each other. If someone is
                washed in, one person can stay and help while the other alerts emergency services (dial 000). Mobile phone
                users can also dial 112 to access emergency services.</li>
            <li>Inform others of your plans: always let friends or family know where you are going and when you will be back.</li>
            <li>Wear light clothing: light clothing such as shorts and a spray jacket will let you swim easily if you are washed
                in. Jumpers may be heavy and difficult to take off.</li>
            <li>Wear appropriate footwear: cleats, sandals and sandshoes with non slip soles suit different surfaces. Use the
                appropriate shoes for the conditions.</li>
            <li>Carry safety gear: wear a life jacket or buoyancy vest. Also bring something buoyant that can be easily thrown
                and held onto, to help you stay afloat. Carry ropes and torches.</li>
            <li>Never fish in exposed areas during rough or large seas: make sure you are aware of local weather, swell and tidal
                conditions before going fishing. Listen to weather forecasts or call the weather information line on 1900
                926 101. Be aware that conditions may change dramatically in a short period of time.
            </li>
            <li>Observe first, fish later: spend some time (at least 30 minutes) watching your intended spot before fishing to
                get an idea of the conditions over a full swell/wave cycle. Wave conditions can get worse as the tide changes
                - you should know whether the tides are high or low and coming in or going out.</li>
            <li>Plan an escape route in case you are washed in: stay calm - If you are washed in, swim away from the rocks and
                look for a safe place to come ashore or stay afloat and wait for help to arrive.</li>
            <li>Stay alert. Don't ever turn your back on the sea: if the waves, weather or swell threaten your fishing spot then
                leave immediately.
            </li>
            <li>Ask for advice from locals who know the area: they can advise you of good, safe fishing locations.</li>
        </ul>
        <br/>
        <br/>
        <br/>
    </ion-content>
</ion-view>